a{
    color: black;
}

.box{
    position: relative;
}
.article-tag{
position: absolute;
bottom: -10px;
left: 10px;
}
.read-more{
    position: absolute;
    right: 10px;
    bottom:10px
}
.navbar{
    background-color: #1C2128;
}
#root{
    min-height: 100vh;
}
.footer{

     background-color: #1C2128;
    width: 100%;
}
.articles-loading{
    margin-bottom: 22rem;
}

.feed-button{
    margin-bottom: 7.4rem;
    margin-top: 6rem;
 
}

.tag-box{
    min-height: 200px;
}